@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --text: #000e23;
    --background: #dce9ff;
    --primary: #10d187;
    --secondary: #a9cafe;
    --accent: #3e70c1;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: var(--background);
}

button {
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    font-weight: bold;
    transition: 500ms;
}

button a {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    background-color: var(--accent);
}


a {
    text-decoration: none;
}

.title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0px;
}

.logotxt {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 28px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 10px;
    color: var(--text);
}

.logo>a {
    color: var(--text);
}

.logo>a>span {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: var(--text);
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

.menu-items>li>a {
    color: var(--background);
}

.menu-items>li>a:hover {
    font-weight: bold;
}

footer {
    background-color: var(--accent);
    padding: 20px 0px;
    text-align: center;
    margin-top: 90px;
}

.fa-brands {
    font-size: 40px;
}

.mfooter {
    display: grid;
    grid-template-columns: 350px 300px auto auto;
}

.logodes p {
    margin-top: 50px;
    text-align: justify;
}